
/*----------  variables  ----------*/

$beige-light: #f6f3ef;
$beige-dark: #9F9F9F;

$brown-light: #cb7453;
$brown-medium: #8F3226;
$brown-dark: #714138;

$green-light: #32f08e;
$green-medium: #08c15f; /*11d33f*/
$green-dark: #115a28;
